extends layout

block content
    h1 Users

    br

    a(href='/users/new') new

    br

    if notice
        p #{notice}

    ul
        each u in users
            li #{u.name} | #{u.age} | #{u.createdAt}
