extends ../layout

block content
    h1 New

    br

    a(href='/users') users

    br

    form(action='/users/new', method='POST')
        input(type='text', name='name')
        br
        input(type='number', name='age')
        br
        button(type='submit') Submit
